@charset "utf-8";

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;  
}

.inner-container {
    width: 584px;
    display: block;
}

.border-container {
    border: 1px solid ;
    padding: 24px;
}

.title {
    text-align: center;
}

.parent {
    margin-top: 64px;
}

.flex-container {
    display: flex;
    height: 48px;
    align-items: center;  
}

input {
    width: 480px;
    height: 40px;
    background-color: #ccc;
    margin-top: 40px;
    color: black;
    font-size: 24px;
}

.task-btn {
    width: 72px;
    height: 40px;
    margin-left: 32px;
    margin-top: 40px;
}
.comp-btn {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}


span {
    list-style-type: none;
    font-size: 32px;
    color: darkorange;
    width: 400px;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: #ccc;
}

a:hover {
    text-decoration: underline;
    color:darkorange;
    cursor: pointer;
}

@media screen and (max-width: 430px) {

    .inner-container {
        width: 400px;
        display: block;
    }

    input {
        width: 320px;
        height: 40px;
        font-size: 16px;
    }

    span {
        font-size: 24px;
        width: 320px;
    }
}

@media screen and (max-width: 375px) {


    input {
        width: 280px;
        height: 40px;
        font-size: 16px;
    }

    span {
        font-size: 24px;
        width: 280px;
    }

    .comp-btn {
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 8px;
    }
}
    
@media screen and (max-width: 390px) {

    .inner-container {
        width: 320px;
        display: block;
    }

    .form-container {
        display: block;
        height: 88px;
        
    }

    input {
        width: 312px;
        height: 40px;
        font-size: 16px;
    }

    span {
        font-size: 24px;
        width: 280px;
    }

    .comp-btn {
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 8px;
    }
    .task-btn {
        width: 96px;
        margin-left: 0px; 
        margin-top: 16px; 
    }
}
    
